.cart {
    width: 1.5rem; /* w-6 */
    height: 1.5rem; /* h-6 */
    filter: invert(68%) sepia(55%) saturate(400%) hue-rotate(0deg) brightness(95%) contrast(90%);
}

.cart-container {
    transition: transform 0.2s ease;
}

.cart-container:hover {
    transform: scale(1.2);
}

.group:hover .cart {
    filter: brightness(0) invert(1);
}

/* In your global CSS */
.scroll-hidden::-webkit-scrollbar {
    display: none;
}
.scroll-hidden {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;    /* Firefox */
}

@media (max-width: 480px){
    .carttext{
        font-size: 25px;
    }
    .Line{
        width: 9rem;
    }
    .cartheader{
        display: none;
    }
    .removeimage{
        gap: 5px;
    }
    .proname{
        font-size: 12px;
    }
    .quantitybtn{
        width: 10px;
        height: 10px;
        font-size: 12px;
    }
    .clearbtn{
        width: 10rem;
        font-size: 12px;
    }

    .subtotal{
        font-size: 12px;
    }
    .bordertotal{
        border: 0px;
    }
}
