.cart {
    width: 1.5rem; /* w-6 */
    height: 1.5rem; /* h-6 */
    filter: invert(68%) sepia(55%) saturate(400%) hue-rotate(0deg) brightness(95%) contrast(90%);
}

.cart-container {
    transition: transform 0.2s ease;
}

.cart-container:hover {
    transform: scale(1.2);
}

.group:hover .cart {
    filter: brightness(0) invert(1);
}