.hero-section {
    /* background-image: url('../../../assets/buildings.jpg'); */
    /* background-size: cover; */
    /* background-position: center; */
    /* height: 120vh; */
    display: grid;
    place-items: center;
    padding: 3rem;
    font-family: 'Segoe UI', sans-serif;
    overflow-x: hidden;
    overflow-y: hidden; /* Only prevent horizontal scroll */
}

.card-wrapper {
    position: relative;
    width: 100%;
    margin-bottom: 10rem;
    max-width: 650px;
}

.hero-text {
    display: flex;
    justify-content: flex-end;
    padding: 3rem;
    background: white;
    padding: 2rem 2rem 2rem 2rem;
    border-radius: 3.5rem;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
    text-align: start;
    position: absolute;
    height: 350px;
    z-index: 1;
}

.hero-text h1 {
    color: #114a59;
    font-size: 2rem;
    margin: auto;
    padding: 0;
}

.hero-text p {
    color: #4f4f4f;
    padding-top: 10px;
    font-size: 1.1rem;
}

.hero-btn {
    display: grid;
    grid-template-columns: repeat(3, auto);
    text-align: center;
    gap: 7px;
    justify-content: start;
    margin-bottom: 20px;
}

.hero-btn button {
    padding: 5px 25px;
    margin: 0 5px;
    border: 2px solid #16404D;
    background: transparent;
    color: #16404D;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.hero-btn button.active {
    background: #16404D;
    color: white;
}

.hero-btn button:hover {
    background: #16404D;
    color: white;
    transform: translateY(-2px);
}

.image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 15rem;
    left: 50%;
    transform: translateX(-50%);
    width: 45rem;
    z-index: 2;
    max-width: 100%;
    height: 25rem;
    transition: transform 0.3s ease;
    transform-style: preserve-3d;
    overflow-y: hidden;
}

.image-container .hero-image{
    margin: 0;
    padding: 0;
    width: 100%;
    transform: translateY(-8%);
}

/* .hero-image[data-direction="prev"] {
    animation: slideFromLeft 0.8s cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .hero-image[data-direction="next"] {
    animation: slideFromRight 0.8s cubic-bezier(0.4, 0, 0.2, 1);
} */

/* @keyframes slideFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-150%) scale(0.95);
    }
    100% {
        opacity: 1;
        transform: translateX(-50%) scale(1);
    }
} */

/* @keyframes slideFromRight {
    0% {
        opacity: 0;
        transform: translateX(50%) scale(0.95);
    }
    100% {
        opacity: 1;
        transform: translateX(-50%) scale(1);
    }
} */

.display {
    display: grid;
    grid-template-columns: 170px;
    justify-content: end;
    width: 240px;
    height: 220px;
    transition: all 0.5s ease;
    column-gap: 0.3rem;
    position: relative; 
}

.display video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    margin-left: 1.5rem;
    border: #114b59d8 solid 4px;
    transition: width 0.5s ease;
    max-width: none;
}

.expanded video {
    width: 530px !important;
    height: 75%;
}

.play-pause-button {
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(-50%, -50%);
    width: 65px;
    height: 65px;
    background-color: #16404D;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    z-index: 2;
    border: none; /* Ensure no default button border */
}

.play-pause-button:hover {
    color: #16404D;
    background: #16404dd3;
    border: #114b59d8 solid 3px;
}

@media (max-width: 992px) {
    .hero-text {
        padding: 2rem 2rem 2rem 2rem;
        border-radius: 3.5rem;
        height: 450px;
    }

    .hero-btn button {
        width: 55px;
        padding: 5px 20px;
        margin-top: 20px;
    }

    .hero-btn button:hover {
        width: 60px;
    }

    .hero-image {
        top: 17%;
        height: 35rem;
        width: 40rem;
    }

    .display {
        display: none;
    }
}

@media (max-width: 768px) {
    .card-wrapper {
        max-width: 490px;
    }

    .hero-text {
        height: 350px;
    }

    .hero-text h1 {
        font-size: 1.5rem;
    }

    .hero-text p {
        font-size: 1rem;
    }

    .hero-btn {
        gap: 5px;
    }

    .hero-btn button {
        width: 45px;
        padding: 2px 15px;
    }

    .hero-btn button:hover {
        width: 50px;
    }

    .hero-image {
        height: 27rem;
        width: 32rem;
        top: 25%;
    }
}

@media (max-width: 480px) {
    .hero-image {
        height: 25rem;
        width: 26rem;
        top: 25%;
    }
}