.hero-section {
    /* background-image: url('../../../assets/buildings.jpg'); */
    /* background-size: cover; */
    /* background-position: center; */
    /* height: 120vh; */
    display: grid;
    place-items: center;
    padding: 3rem;
    font-family: 'Segoe UI', sans-serif;
}

.card-wrapper {
    position: relative;
    width: 100%;
    margin-bottom: 10rem;
    max-width: 650px;
}

.hero-text {
    display: grid;
    grid-template-columns: repeat(2, auto);
    background: white;
    padding: 2rem 2rem 2rem 2rem;
    border-radius: 3.5rem;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
    text-align: start;
    position: relative;
    height: 350px;
    z-index: 1;
}

.hero-text h1 {
    color: #114a59;
    font-size: 2rem;
    margin: auto;
    padding: 0;
}

.hero-text p {
    color: #4f4f4f;
    font-size: 1.1rem;
}

.hero-btn {
    display: grid;
    grid-template-columns: repeat(3, auto);
    text-align: center;
    gap: 7px;
    justify-content: start;
    margin-bottom: 20px;
}

.hero-btn button {
    background-color: transparent;
    color: #114a59;
    border: solid 2px #114b5936;
    border-radius: 12px;
    width: 50px;
    padding: 5px;
    transition: 1s;
}

.hero-btn button:hover {
    background-color: #114b59;
    color: white;
    width: 55px;
}

.hero-image {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    height: 34rem;
    width: 44rem;
    z-index: 2;
    transition: 0.5s;
}

.display {
    position: relative;
    width: 150px;
    height: 200px;
}

.display img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    margin-left: 8rem;
    border: #114b59d8 solid 4px;
}

.enter-button {
    position: absolute;
    top: 50%;
    left: 85%;
    transform: translate(-50%, -50%);
    width: 65px;
    height: 65px;
    background-color: #114b59;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s;
}

.enter-button:hover {
    color: #114a59;
    background: white;
    border: #114b59d8 solid 3px;
}

@media (max-width: 768px) {
    .card-wrapper {
        width: 100%;
        margin-bottom: 10rem;
        margin-top: 10px;
        max-width: 500px;
    }

    .hero-text {
        padding: 2rem 2rem 2rem 2rem;
        border-radius: 3.5rem;
        box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
        text-align: start;
        position: relative;
        height: 300px;
        z-index: 1;
    }

    .hero-text h1 {
        font-size: 1.5rem;
    }

    .hero-text p {
        font-size: 0.8rem;
    }

    .hero-btn {
        gap: 5px;
    }

    .hero-btn button {
        width: 45px;
        padding: 2px;
    }

    .hero-btn button:hover {
        width: 50px;
    }

    .hero-image {
        height: 27rem;
        width: 30rem;
    }

    .display {
        width: 120px;
        height: 180px;
    }

    .display img {
        margin-left: 6rem;
    }

    .enter-button {
        left: 80%;
        width: 60px;
        height: 60px;
    }
}

@media (max-width: 480px) {
    .display {
        width: 100px;
        height: 150px;
    }
    .display img {
        margin-left: 3.5rem;
    }
    .enter-button {
        left: 55%;
        width: 50px;
        height: 50px;
    }
}