
.about-section {
  padding: 25px 20px;
  margin-bottom: 6rem;
}
  
  .about-container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }
  
  .about-container h2 {
    font-size: 1.9rem;
    margin-bottom: 1rem;
    color: #333;
  }
  
  .subtitle {
    font-size: 1rem;
    color: black;
    opacity: 0.7;
    margin-bottom: 3rem;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .values-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    gap: 3rem;
    padding: 20px;
  }
  
  .value-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #A6CDC67D;
    padding: 2rem;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .value-card:hover {
    transform: translateY(-5px);
  }

  .value-icon {
    width: 62px;
    height: 62px;
    display: inline-block;
    position: relative;
    top: -55px;
    margin-bottom: -40px;
    border-radius: 50%;
    background: none;
  }
  
  .value-card h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: black;
    opacity: 0.9;
  }
  
  .value-card p {
    color: black;
    opacity: 0.7;
    line-height: 1.6;
  }
  
  @media (max-width: 768px) {
    .values-grid {
      grid-template-columns: 1fr;
    }
    
    .about-container h2 {
      font-size: 2rem;
    }
    
    .value-card {
      padding: 1.5rem;
    }
  }
  
  
  