.video-container {
    width: 100%;
    height: 100vh;
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
    top: 0;
    left: 0;
}

.video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    /* border-radius: 35px; */
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}
