.nav {
    display: grid;
    grid-template-columns: auto minmax(100px, auto) auto;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #FBF5DD;
}

.sections-pages {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 24px;
    justify-content: start;
}

.pages {
    text-transform: uppercase;
    font-size: 16px;
    margin: 0 15px;
    border: none;
    padding: 5px 10px;
    background-color: transparent;
    transition: 1s;
    color: #16404d;
}

.pages:hover {
    color: #7b7b7b;
}

.sections-logo {
    text-align: center;
    align-items: center;
    justify-self: center;
}

.sections-logo p {
    margin: 0;
}

.sections-icons {
    display: grid;
    grid-template-columns: auto auto;
    gap: 24px;
    align-items: center;
    justify-content: end;
}

.search-container {
    position: relative;
    width: 300px;
}

.search-bar {
    width: 100%;
    padding: 5px 30px 5px 10px;
    border: none;
    border-radius: 25px;
    background-color: #ffffff;
    font-size: 16px;
}

.search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.icon-section {
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    padding: 0;
    margin-right: 2rem;
}

.icon {
    width: 20px;
    height: 20px;
    margin: 0 24px;
    cursor: pointer;
}

.side-nav {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #16404d;
    margin: 2px 0;
    transition: 0.3s;
}

@media (max-width: 768px) {
    .nav {
        background-color: #fff;
        grid-template-columns: auto 1fr auto;
        grid-template-areas:
            "menu logo icons"
            "links links links";

        padding: 10px; 
        justify-items: center;
    }

    .side-nav {
        display: flex;
        grid-area: menu;
        justify-self: start;
    }

    .sections-pages {
        display: none;
        grid-area: links;
        flex-direction: column;
        position: absolute;
        top: 15px;
        left: -5px;
        width: 150px;
        background-color: #fff;
        border-radius: 20px;
        padding: 10px 0;
    }

    .sections-pages.active {
        display: flex;
    }

    .pages {
        margin: 10px 0;
        text-align: center;
    }

    .sections-logo {
        grid-area: logo;
        text-align: center;
        justify-self: center;
        align-items: center; 
        align-self: center;
        margin: auto;
        width: 100%;
        margin-left: 45px;
    }

    .sections-icons {
        grid-area: icons;
        justify-content: end;
        grid-template-columns: auto;
    }

    .search-container {
        display: none;
    }

    .icon-section {
        padding: 0;
        gap: 1rem;
    }

    .icon {
        margin: 0;
    }
}

@media (max-width: 480px) {
    .icon {
        width: 18px;
        height: 18px;
        margin: 0 8px;
    }

    .nav {
        padding: 8px;
    }
}