.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    gap: 2rem;
}
.sections{
    text-transform: uppercase;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px 15px;
}
.pages{
    font-size: 16px;
    margin: 0 15px;
    border: none;
    padding: 5px 10px;
    background-color: transparent;
    transition: 0.5s;
}
.pages:hover{
    font-size: 20px;
}
.search-container {
    position: relative;
    width: 300px;
}
.search-bar {
    width: 100%;
    padding: 5px 30px 5px 10px;
    border:none;
    border-radius: 25px;
    background-color: #333;
    font-size: 16px;
}
.search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.icon-section {
    display: flex;
    align-items: center;
    padding: 24px;
}
.icon {
    width: 20px;
    height: 20px;
    margin: 0 24px;
    cursor: pointer;
}


