.nav {
    display: grid;
    grid-template-columns: auto minmax(100px, auto) auto;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px 10px 10px;
    width: 100%;
    position: fixed;
    height: 60px;
    top: 0;
    left: 0;
    z-index: 50;
    background-color: #F0F0F0;
    color: #16404d;
}

.sections-pages {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 15px;
    justify-content: start;
}

.sections-pages a {
    text-decoration: none;
    color: inherit;
    background: none;
    border: none;
}

.pages {
    text-decoration: none;
    color: inherit;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    transition: all 0.3s ease;
    position: relative;
}

.pages.active {
    color: #16404D;
    font-weight: 600;
}

.pages.active::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 2px;
    background-color: #DDA853;
    border-radius: 2px;
}

.logo-link {
    text-decoration: none;
    color: inherit;
}

.sections-logo {
    text-align: center;
    align-items: center;
    justify-self: center;
}

.sections-logo p {
    margin: 0;
}

.sections-icons {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: end;
}

.search-container {
    position: relative;
    width: 300px;
}

.search-bar {
    width: 100%;
    padding: 5px 30px 5px 10px;
    border: none;
    border-radius: 25px;
    background-color: #DADADA;
    font-size: 16px;
    color: #16404d;
}

.search-bar:focus {
    outline: none;
    border: 1px solid #16404d;
    opacity: 0.8;
}

.search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.icon-section {
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    padding: 0;

    gap: 0.5rem;
}

.icon {
    width: 20px;
    height: 20px;
    margin: 0 12px;
    cursor: pointer;
}

.icon.active {
    filter: invert(71%) sepia(75%) saturate(389%) hue-rotate(346deg) brightness(89%) contrast(91%);
}

.side-nav {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #16404d;
    margin: 2px 0;
    transition: 0.3s;
}

.loginBtn{
    color: 333 !important;
    background-color: #DADADA;
}

@media (max-width: 992px) {
    .nav {
        background-color: #fff;
        grid-template-columns: auto 1fr auto;
        grid-template-areas:
            "menu logo icons"
            "links links links";
        padding: 10px;
        justify-items: center;
    }

    .side-nav {
        display: flex;
        grid-area: menu;
        justify-self: start;
    }

    .sections-pages {
        display: none;
        grid-area: links;
        flex-direction: column;
        position: absolute;
        top: 15px;
        left: -5px;
        width: 150px;
        background-color: #fff;
        border-radius: 20px;
        padding: 10px 0;
    }

    .sections-pages.active {
        display: flex;
    }

    .pages {
        margin: 10px 0;
        text-align: center;
    }

    .sections-logo {
        grid-area: logo;
        text-align: center;
        justify-self: center;
        align-items: center;
        align-self: center;
        margin: auto;
        width: 100%;
        margin-left: 170px;
    }

    .search-container {
        width: 230px;
    }

    .icon-section {
        padding: 0;
        gap: 0.5rem;
    }

    .icon {
        margin: 0;
    }
}

@media (max-width: 768px) {
    .search-container {
        display: none;
    }

    .sections-logo {
        margin-left: 75px;
    }
}

@media (max-width: 480px) {
    .icon {
        width: 15px;
        height: 15px;
        margin: 0px;
    }
    .sections-logo {
        margin-left: 45px;
    }
    .icon-section {
        padding: 0;
        margin: 0;
        gap: 1rem;
    }
    .nav {
        padding: 10px 10px;
    }
}