.services {
    text-align: center;
    padding: 0px 20px;
}

.services h2 {
    font-size: 1.9rem;
    color: #16404d;
    margin-bottom: 7px;
}

.services p {
    color: #7a8aa0;
    margin: 10px 0 35px;
    margin-top: 0;
    font-size: 1rem;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    gap: 3rem;
    padding: 20px;
}

.service-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F7FCFB;
    padding: 2rem;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.service-card:hover,
.service-card.active {
    transform: translateY(-5px);
}

.service-icon {
    justify-self: center;
}

.icons-service {
    width: 62px;
    height: 62px;
    display: inline-block;
    position: relative;
    top: -65px;
    margin-bottom: -40px;
    border-radius: 50%;
    background: none;
}

.service-card h3 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #16404d;
    margin-bottom: 10px;
}

.service-card p {
    font-size: 16px;
    color: #6b7b8c;
}

@media (max-width: 992px) {
    .services-container {
        grid-template-columns: 1fr;
        margin: 0 10rem;
    }
}

@media (max-width: 768px) {
    .services-container {
        margin: 0 7rem;
    }
}

@media (max-width: 480px) {
    .services-container {
        margin: 0;
    }
}
