.wave-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
} 

.footer {
  background-color: #fff;
  font-family: 'Lato', sans-serif;
  width: 100%;
  padding: 1rem 0;
  margin-top: auto;
  bottom: 0;
}

.footer-container {
  display: grid;
  grid-template-columns: 400px 200px;
  gap: 8rem;
  max-width: 1300px;
  margin: auto;
  padding: 4rem 2rem;
}

.FooterCol-grid {
  display: grid;
  grid-template-columns: 150px 150px 150px;
  justify-content: space-around;
  gap: 9rem;
}

.footer-col {
  flex: 1 1 180px;
  min-width: 150px;
}

.logo-section {
  display: grid;
  grid-template-columns: 50px 250px;
  gap: 4rem;
  max-width: 500px;
  margin: 0 auto;
}

.footer-logo {
  width: 110px;
}

.footer-col h4 {
  font-weight: bold;
  margin-bottom: 1rem;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 0.5rem;
  opacity: 0.6;
}

.footer-col ul li a {
  text-decoration: none;
  color: #333;
  font-size: 0.9rem;
}

.footer-col ul li a:hover {
  color: #000;
}

.Text-opacity {
  opacity: 0.6;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-top: 1px solid #ccc;
  padding-top: 1rem;
  margin-top: 2rem;
}

.social-icons {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.social-icons svg {
  margin: 0 8px;
  cursor: pointer;
  color: #555;
}

.social-icons svg:hover {
  color: #000;
}

@media screen and (max-width: 1200px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 4rem;
    padding: 3rem 2rem;
  }

  .FooterCol-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
  }
}

@media screen and (max-width: 768px) {
  .FooterCol-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .logo-section {
    grid-template-columns: 1fr;
    gap: 2rem;
    justify-items: center;
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .footer-container {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding: 2rem 1rem;
  }

  .FooterCol-grid {
    grid-template-columns: 1fr;
    gap: 2rem;
    text-align: center;
  }

  .footer-col {
    min-width: auto;
    
  }

  .social-icons {
    flex-wrap: wrap;
    justify-content: center;
  }
}
