 .wave-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
} 

.footer {
  background-color: #fff;
  position: absolute;
  font-family: 'lato';
  width:100%;
  padding: 1rem 0;
  bottom: 0;
}


.footer-container {
  display: grid;
  grid-template-columns: 400px 200px;
  gap: 8rem;
  max-width: 1200px;
  margin: auto;
  padding: 4rem 0rem ;
}

.FooterCol-grid{
    display: grid;
    grid-template-columns: 150px 150px 150px;
    justify-content: space-around;
    gap: 9rem;
}

.footer-col {
  flex: 1 1 180px;
  min-width: 150px;
}

.logo-section {
    display: grid;
    grid-template-columns: 50px 250px;
    gap: 4rem;
    max-width: 250px;
}

.footer-logo {
  width: 110px;
}

.footer-col h4 {
  font-weight: bold;
  margin-bottom: 1rem;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 0.5rem;
  opacity: 0.6;
}

.footer-col ul li a {
  text-decoration: none;
  color: #333;
  font-size: 0.9rem;
}

.footer-col ul li a:hover {
  color: #000;
}

.Text-opacity{
    opacity: 0.6;
}

.footer-bottom {
 display: flex;
 flex-direction: column;
 justify-content: center;
  text-align: center;
  border-top: 1px solid #ccc;
  padding-top: 1rem;
  margin-top: 2rem;
}

.social-icons {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}

.social-icons svg {
  margin: 0 8px;
  cursor: pointer;
  color: #555;
}

.social-icons svg:hover {
  color: #000;
}
