* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  color: #16404D;
}

#root {
  width: 100%;
  overflow-x: hidden;
}

.app-container {
  width: 100%;
  overflow-x: hidden;
}
