@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #16404D;
  background-color: #E5F1EF !important;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;

}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  color: #16404D;
  background-color: #E5F1EF !important;
}

html {
  height: 100%;
  background-color: #FBF5DD;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  opacity: 0.8;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
  }
  body {
    background-color: #FBF5DD !important;
  }
  html {
    background-color: #FBF5DD;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
